<h2> <%= @upcoming_event.name %></h2>

<p>EVENT: <%= @upcoming_event.name %> </p>
<p>DATE: <%= @upcoming_event.date %> </p>
<p>DESCRIPTION: <%= @upcoming_event.description %></p>

<%= link_to "Back to Events", upcoming_events_path %>